#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 50vh;
  grid-template-rows: auto;
  grid-template-areas: 'buscador''agregar';
  gap: 1rem;
}
.container_buscador_listado{
  grid-column: 1;
}
.container_formulario{
  grid-column: 2;
}
.input_buscador{
  width: 10vw;
}
.buscador{
  margin-bottom: 1rem;
}